header {
  height: 40px;
  width: 100%;
  background-image:url("../img/paper.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 4999;
}

h1 {
  display: inline-block;
  float: right;
  margin-top: 0;
  font-size: 1em;
  padding: 5px;
  margin-right: 10px;
  text-transform: uppercase;
}

.menu-side{
  position: fixed;
  background-color: #000;
  border-right: 1px solid #000;
  color: #fff;
  top: 0;
  left: -231px;
  width: 210px;
  height: 100%;
  padding:10px;
}

.menu {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.menu-open {
  left: 231px;
}

.menu-open .menu-side {
  left: 0;
}

.menu-side,
.menu {
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.menu-toggle {
padding: 10px;
}

.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-side li a{
    display:block;
    padding: 1em;
    text-align: right;
    position:relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', Ariel, sans-serif;
}

.menu-side li a:hover,
.menu-side li a:focus,
.menu-side li a:active {
  color: #666;
  background-color: #fff;
}

.pull-quote {
  background-image:url("../img/paper.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 4em 2em 2em;
  color: #000;
}

.pq{
  max-width: 700px;
  margin: 0 auto;
}

img {
	overflow:hidden;
}

.hover img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover:hover img {
	opacity: .5;
}

.img-wrap a {
  text-decoration:none;
  color: #000;
  font-family: 'Georgia', serif;
  padding-top: 3rem;
  font-size: 3em;
  text-align: center;
  top:0;
  opacity:0;
  filter: alpha(opacity = 0);
  position:absolute;
  width:100%;
  height:100%;
  z-index:1000;
    -webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.img-wrap {
  position:relative;

}

.img-wrap:hover a {
  opacity:0.95;
  filter: alpha(opacity = 75);
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (min-width: 30em){
  .img-wrap a {
    font-size: 1.5em;
}
}

@media only screen and (min-width: 50em){
  .img-wrap a {
    font-size: 3em;
  }
}
